.content__custom-sass {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  margin-top: 4rem;
  margin-bottom: 4rem;
}

.custom-sass__overview {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  margin-right: 40vw;
  gap: 1rem;
}

.custom-sass__logo-box {
  width: 4rem;
  height: 4rem;
  border-radius: 1rem;
  background-color: rgba(var(--bs-primary-rgb), 0.1);

  display: flex;
  justify-content: center;
  align-items: center;
}

.custom-sass__logo-box i {
  font-size: 1.7rem;
  color: rgba(var(--bs-primary-rgb), 1);
}

.custom-sass__title {
  font-size: 3rem;
  font-weight: 500;
}

.custom-sass__des {
  font-size: 1.2rem;
}

.custom-sass__link-docs i {
  padding-left: 0.8rem;
  font-size: 1.2rem;
}

.custom-sass__setup {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-top: 2rem;
  width: 100%;
}

.setup__import,
.setup__include {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 1rem;
  width: 100%;
}

.setup__import {
  flex: 1;
  padding-right: 2rem;
}
.setup__include {
  flex: 1;
}

.setup-import__title,
.setup-include__title {
  font-size: 1.5rem;
  font-weight: 500;
}

@media only screen and (max-width: 63.9375em) {
  .custom-sass__setup {
    flex-direction: column;
    gap: 2rem;
  }

  .setup__import {
    padding-right: 0;
  }

  .custom-sass__overview {
    margin-right: 0;
  }
}

@media only screen and (max-width: 30.1875em) {
  .custom-sass__overview {
    margin-right: 0;
  }
}
