:root {
  --bs-white-transparent-s: rgba(255, 255, 255, 0.9);
  --bs-white-transparent-m: #ffffffb3;
  --bs-white-transparent-l: rgba(255, 255, 255, 0.2);
  --bs-blue: #0d6efd;
  --bs-indigo: #6610f2;
  --bs-indigo-transparent-s: #6710f2e2;
  --bs-purple: #6f42c1;
  --bs-pink: #d63384;
  --bs-red: #dc3545;
  --bs-orange: #fd7e14;
  --bs-yellow: #ffc107;
  --bs-green: #198754;
  --bs-teal: #20c997;
  --bs-cyan: #0dcaf0;
  --bs-black: #000;
  --bs-white: #fff;
  --bs-gray: #6c757d;
  --bs-gray-dark: #343a40;
  --bs-gray-100: #f8f9fa;
  --bs-gray-200: #e9ecef;
  --bs-gray-300: #dee2e6;
  --bs-gray-400: #ced4da;
  --bs-gray-500: #adb5bd;
  --bs-gray-600: #6c757d;
  --bs-gray-700: #495057;
  --bs-gray-800: #343a40;
  --bs-gray-900: #212529;
  --bs-primary: #0d6efd;
  --bs-secondary: #6c757d;
  --bs-success: #198754;
  --bs-info: #0dcaf0;
  --bs-warning: #ffc107;
  --bs-danger: #dc3545;
  --bs-light: #f8f9fa;
  --bs-dark: #212529;
  --bs-primary-rgb: 13, 110, 253;
  --bs-secondary-rgb: 108, 117, 125;
  --bs-success-rgb: 25, 135, 84;
  --bs-info-rgb: 13, 202, 240;
  --bs-warning-rgb: 255, 193, 7;
  --bs-danger-rgb: 220, 53, 69;
  --bs-light-rgb: 248, 249, 250;
  --bs-dark-rgb: 33, 37, 41;
  --bs-primary-text-emphasis: #052c65;
  --bs-secondary-text-emphasis: #2b2f32;
  --bs-success-text-emphasis: #0a3622;
  --bs-info-text-emphasis: #055160;
  --bs-warning-text-emphasis: #664d03;
  --bs-danger-text-emphasis: #58151c;
  --bs-light-text-emphasis: #495057;
  --bs-dark-text-emphasis: #495057;
  --bs-primary-bg-subtle: #cfe2ff;
  --bs-secondary-bg-subtle: #e2e3e5;
  --bs-success-bg-subtle: #d1e7dd;
  --bs-info-bg-subtle: #cff4fc;
  --bs-warning-bg-subtle: #fff3cd;
  --bs-danger-bg-subtle: #f8d7da;
  --bs-light-bg-subtle: #fcfcfd;
  --bs-dark-bg-subtle: #ced4da;
  --bs-primary-border-subtle: #9ec5fe;
  --bs-secondary-border-subtle: #c4c8cb;
  --bs-success-border-subtle: #a3cfbb;
  --bs-info-border-subtle: #9eeaf9;
  --bs-warning-border-subtle: #ffe69c;
  --bs-danger-border-subtle: #f1aeb5;
  --bs-light-border-subtle: #e9ecef;
  --bs-dark-border-subtle: #adb5bd;
  --bs-white-rgb: 255, 255, 255;
  --bs-black-rgb: 0, 0, 0;

  --bs-font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;

  font-family: "Roboto", sans-serif;
  color: #444;
}

html,
body {
  height: 100%;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  background-color: white;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
  outline: none;
  border: none;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

li {
  list-style: none;
}

ul {
  padding: 0;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

.header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: var(--bs-indigo-transparent-s);
  height: 4rem;
  padding: 0.75rem 1.5rem;
  font-family: var(--bs-font-sans-serif);
  font-weight: 400;
}

.header__nav {
  flex: 1;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  font-size: 2.25rem;
  color: white;
  transition: all 0.25s linear;
}

.header__mobile-nav {
  display: none;
  opacity: 0;
  pointer-events: none;

  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;

  z-index: 10;
  transition: all 0.25s linear;
}

.mobile-nav__backdrop {
  flex: 6;
}

.mobile-nav__menu > div {
  padding-bottom: 1.5rem;
  padding-top: 1.5rem;
  border-bottom: 1px solid var(--bs-white-transparent-l);
}
.mobile-nav__menu {
  background-color: var(--bs-indigo);
  background-color: rgb(113, 44, 249);
  flex: 5;
  transform: translateX(100%);
  transition: all 0.25s linear;

  padding: 1.25rem;
}

.mb-menu__header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding-top: 0 !important;
}

.mb-menu__header__title {
  color: white;
  font-size: 1.25rem;
  font-weight: 500;
}

.mb-menu__header__close i {
  font-size: 1.5rem;
  color: var(--bs-white-transparent-m);
  cursor: pointer;
}

.mb-menu__item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}

.mb-menu__item__link {
  min-width: 50%;
  color: var(--bs-white-transparent-m);
  padding-bottom: 0.6rem;
  padding-top: 0.3rem;

  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.8rem;
}

.mb-menu__item__link * {
  color: var(--bs-white-transparent-m);
}

.mb-menu__item__link:hover * {
  color: var(--bs-white-transparent-s);
}

.mb-menu__item__link:hover {
  color: var(--bs-white-transparent-s);
}

.header__menu-icon {
  display: none;
  position: absolute;
  right: 1.25rem;
}

.header__check {
  display: none;
}

.menu-icon__icon i {
  font-size: 1.5rem;
  color: white;
}

.menu-icon__icon:hover {
  cursor: pointer;
}

#menu-toggle:checked ~ .header__mobile-nav {
  opacity: 1;
  pointer-events: fill;
  background-color: rgba(0, 0, 0, 0.5);
}
#menu-toggle:checked ~ .header__mobile-nav .mobile-nav__menu {
  transform: translateX(0);
}
/* #menu-toggle:checked ~ .header__mobile-nav .mobile-nav__menu {
  transform: translateX(0);
} */

.backdrop {
  /* display: none;
  opacity: 0; */
  position: fixed;
  top: 0;
  right: 50vw;
  left: 0;
  bottom: 0;

  background-color: rgba(0, 0, 0, 0.3);
  z-index: 5;
}

.header__logo:hover {
  transform: scale(1.05) rotate(-5deg);
  cursor: pointer;
}

.nav__left-content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;

  padding-left: 1rem;
}

.nav__right-content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.nav__right-content__line {
  width: 1px;
  height: 2rem;
  background-color: var(--bs-white-transparent-l);
}

.nav__left-content__link,
.nav__right-content__link {
  color: var(--bs-white-transparent-m);
  transition: all 0.25s linear;
}
.nav__left-content__link:hover,
.nav__right-content__link:hover {
  color: rgba(255, 255, 255, 0.9);
}

.nav__right-content__link i {
  color: var(--bs-white-transparent-m);
  transition: all 0.25s linear;
}
.nav__right-content__link i:hover {
  color: rgba(255, 255, 255, 0.9);
}

@media only screen and (max-width: 63.9375em) {
  .header__nav {
    display: none;
  }

  .header__mobile-nav {
    display: flex;
  }

  .header__menu-icon {
    display: block;
  }
}

@media only screen and (max-width: 30.1875em) {
  .mobile-nav__backdrop {
    flex: 0;
  }
  .mobile-nav__menu {
    flex: 1;
  }
}
