.main-c__logo {
  background-color: rgba(var(--bd-violet-rgb), 0.1);
  height: 4rem;
  width: 4rem;
  border-radius: 1rem;

  display: flex;
  justify-content: center;
  align-items: center;
}

.main-c__logo i {
  font-size: 1.5rem;
  color: var(--bs-indigo);
}

.main-c__get-started {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  flex-direction: column;
  margin-bottom: 5rem;
}

.main-c__get-started__title {
  font-size: calc(1.3rem + 2vw);
  font-weight: 500;
}
.main-c__get-started__sub-info {
  font-size: 1.4rem;
  font-weight: 400;
  color: var(--bs-secondary);
}

.main-c__gt-link i {
  padding-left: 0.8rem;
  font-size: 1.2rem;
}

@media only screen and (max-width: 63.9375em) {
  .overview__guild {
    width: 100%;
    flex-direction: column;
  }
  .main__overview {
    padding-left: 6rem;
    padding-right: 6rem;
  }
  .overview__new-version {
    flex-direction: column;
    gap: 0.5rem;
  }
  .overview__sub-info {
    font-size: 1.2rem;
  }
  .main-c__get-started__sub-info,
  .main-c__get-started__install-doc {
    font-size: 1.2rem;
  }
}

@media only screen and (max-width: 30.1875em) {
  .overview__main-title {
    max-width: 80%;
  }
  .overview__sub-info {
    font-size: 0.8rem;
  }
  .main__overview {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}
