.header__mobile-nav {
  display: none;
  opacity: 0;
  pointer-events: none;

  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;

  z-index: 10;
  transition: all 0.25s linear;
}

.mobile-nav__backdrop {
  flex: 6;
}

.mobile-nav__menu > div,
.mobile-nav__menu > ul {
  padding-bottom: 1.5rem;
  padding-top: 1.5rem;
  border-bottom: 1px solid var(--bs-white-transparent-l);
}
.mobile-nav__menu {
  background-color: var(--bs-indigo);
  background-color: rgb(113, 44, 249);
  flex: 5;
  transform: translateX(100%);
  transition: all 0.25s linear;

  padding: 1.25rem;
}

.menu-header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding-top: 0 !important;
}

.menu-header__title {
  color: white;
  font-size: 1.25rem;
  font-weight: 500;
}

.menu-header__close i {
  font-size: 1.5rem;
  color: var(--bs-white-transparent-m);
  cursor: pointer;
}

.menu-items {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}

.menu-items__link-wrapper {
  min-width: 50%;
  padding-bottom: 0.6rem;
  padding-top: 0.3rem;
}

.menu-items__link {
  color: var(--bs-white-transparent-m);

  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.8rem;

  cursor: pointer;
  transition: all 0.25s linear;
}

.menu-items__link:hover {
  color: var(--bs-white-transparent-s);
}

@media only screen and (max-width: 63.9375em) {
  .header__mobile-nav {
    display: flex;
  }

  .header__menu-icon {
    display: block;
  }
}

@media only screen and (max-width: 30.1875em) {
  .mobile-nav__backdrop {
    flex: 0;
  }
  .mobile-nav__menu {
    flex: 1;
  }
}
